<form [formGroup]="formPatient">
    <div class="example-container">
      <mat-form-field>
        <input matInput id="name" type="text" formControlName="name" placeholder="Nombre">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput type="text"  formControlName="lastName" placeholder="Apellido">
      </mat-form-field>
    
      <mat-form-field>
        <mat-select required placeholder="Genero" formControlName="gender" (selectionChange)="selectedGenderOption($event)">
          <mat-option value=1>Masculino</mat-option>
          <mat-option value=0>Femenino</mat-option>
          <mat-option value=2>Otro</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Telefono"  formControlName="phone" type="text">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Celular"  formControlName="cellphone" type="text">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Direccion"  formControlName="address" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-select required placeholder="¿Fallecido?" formControlName="deceased" (selectionChange)="selectedDeceasedOption($event)">
          <mat-option value="YES">Si</mat-option>
          <mat-option value="NO">No</mat-option>
        </mat-select>
      </mat-form-field>

       <mat-form-field>
        <mat-select required placeholder="Estado Civil" formControlName="maritalStatus" (selectionChange)="selectedMaritalStatusOption($event)">
          <mat-option value="Separated">Separada/o</mat-option>
          <mat-option value="Divorced">Divorciada/o</mat-option>
          <mat-option value="Married">Casada/o</mat-option>
          <mat-option value="Single">Soltera/o</mat-option>
          <mat-option value="Widowed">Viuda/o</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Nacionalidad"  formControlName="nationality" type="text">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Ciudad"  formControlName="city" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Fecha de nacimiento del Paciente"  formControlName="birthDate" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Carnet de Identidad del Paciente"  formControlName="ci" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Patient Visit ID"  formControlName="pvid" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombre del doctor"  formControlName="attendingDoctorName" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Apellido del Doctor"  formControlName="attendingLastDoctorName" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Tipo de Paciente"  formControlName="patientClass" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Año"  formControlName="admitDateYear" type="number">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Mes"  formControlName="admitDateMonth" type="number">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Dia"  formControlName="admitDateDay" type="number">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Hora"  formControlName="admitDateHour" type="number">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Minuto"  formControlName="admitDateMin" type="number">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Codigo de Seguro" formControlName="inid" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombre del Seguro" formControlName="insuranceCompName" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Vencimiento del Seguro" formControlName="insuranceExpDate" type="text">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Observation Id" formControlName="obxid" type="text">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Posible Diagnostico" formControlName="obxdiagnostic" type="text">
      </mat-form-field>


      <mat-form-field>
            <input matInput placeholder="Observation Request ID" formControlName="obrid" type="text">
      </mat-form-field>

      <mat-form-field>
              <input matInput placeholder="Nombre de la observacion" formControlName="obrnamespaceid" type="text">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Entidad que lo identifica" formControlName="obrentityidentifier" type="text">
      </mat-form-field>

      <mat-form-field>
            <input matInput placeholder="Estudios Requeridos" formControlName="obrdiagnostic" type="text">
      </mat-form-field>


      <mat-form-field>
          <input matInput placeholder="ORC ID" formControlName="orcid" type="text">
      </mat-form-field>

      <mat-form-field>
            <input matInput placeholder="ORC Order Control" formControlName="orcordercontrol" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ORC Placer Group Number" formControlName="orcplacergroupnumber" type="text">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Datos Adicionales de los estudios requeridos" formControlName="orcdiagnostic" type="text">
      </mat-form-field>


    </div>
    <div  class = "button-container">
      <button class = "primary" mat-button (click)="onSubmit(formPatient.value)">Guardar</button>
    </div>
    </form>