<form [formGroup]="formPatient">
    <div class="example-container">
      <mat-form-field>
        <input matInput id="name" type="text" formControlName="name" placeholder="Nombre">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput type="text"  formControlName="lastName" placeholder="Apellido">
      </mat-form-field>
    
      <mat-form-field>
        <mat-select required placeholder="Genero">
          <mat-option value=1>Masculino</mat-option>
          <mat-option value=2>Femenino</mat-option>
          <mat-option value=3>Desconocido</mat-option>
          <mat-option value=4>Otro</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Telefono"  formControlName="phone" type="text">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Celular"  formControlName="cellphone" type="text">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Direccion"  formControlName="address" type="text">
      </mat-form-field>
    
      <div>
        <label>Fallecido</label>
        <mat-radio-group>
          <mat-radio-button value=true>Si</mat-radio-button>
          <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
      </div>
    
      <mat-form-field>
        <input matInput placeholder="Estado Civil"  formControlName="maritalStatus" type="text">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Nacionalidad"  formControlName="nationality" type="text">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Ciudad"  formControlName="city" type="text">
      </mat-form-field>
    </div>
    <div  class = "button-container">
      <button class = "primary" mat-button (click)="onSubmit(formPatient.value)" [mat-dialog-close]="true">Guardar</button>
    </div>
    <div  class = "button-container">
      <button class = "secondary" mat-button mat-dialog-close>Cancelar</button>
    </div>
    </form>