  <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                  <div class="card text-white bg-secondary mb-3" style="max-width: 100%">
                      <div class="card-body">
                        <div class="btn-group">
                            <img class="img" src="/assets/Images/tablas.png" style="margin-left:15%; margin-top:10%">
                            <button type="button" class="btn btn-secondary" style="margin-left: 55%; margin-top: 10%">Tablas</button>
                        </div>    
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 100%">
                        <div class="card-body">
                          <div class="btn-group">
                              <img class="img" src="/assets/Images/doctor.png" style="margin-left:10%">
                              <button type="button" (click)="goToDoctors()" class="btn btn-secondary" style="margin-left: 50%; margin-top: 10%">Doctores</button>
                          </div>    
                        </div>
                    </div>
                </div>
              </div>
          </div>

          <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 100%">
                          <div class="card-body">
                            <div class="btn-group">
                                <img class="img" src="/assets/Images/citas.png" style="margin-left:12%">
                                <button type="button" class="btn btn-secondary" style="margin-left: 90%; margin-top: 10%">Citas</button>
                            </div>    
                          </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 100%">
                          <div class="card-body">
                            <div class="btn-group">
                                <img class="img" src="/assets/Images/paciente.png" style="margin-left:10%; margin-top:5%">
                                <button type="button" (click)="goToPatients()" class="btn btn-secondary" style="margin-left: 50%; margin-top: 10%">Pacientes</button>
                            </div>    
                          </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 100%">
                          <div class="card-body">
                            <div class="btn-group">
                                <img class="img" src="/assets/Images/diagnostico.png" style="margin-left:10%">
                                <button (click)="openPatientCIModal('diagnosticos')" type="button" class="btn btn-secondary" style="margin-left: 40%; margin-top: 6%">Diagnostico</button>
                            </div>    
                          </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 100%">
                          <div class="card-body">
                            <div class="btn-group">
                                <img class="img" src="/assets/Images/prescripcion.png" style="margin-left:10%; margin-top:7%">
                                <button type="button" class="btn btn-secondary" style="margin-left: 40%; margin-top: 8%">Prescripcion</button>
                            </div>    
                          </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 100%">
                          <div class="card-body">
                            <div class="btn-group">
                                <img class="img" src="/assets/Images/farmacia.png" style="margin-left:10%">
                                <button type="button" class="btn btn-secondary" style="margin-left: 50%; margin-top: 10%">Farmacia</button>
                            </div>    
                          </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 100%">
                          <div class="card-body">
                            <div class="btn-group">
                                <img class="img" src="/assets/Images/finanzas.png" style="margin-left:10%; margin-top:8%">
                                <button type="button" class="btn btn-secondary" style="margin-left: 50%; margin-top: 10%">Finanzas</button>
                            </div>    
                          </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 100%">
                          <div class="card-body">
                            <div class="btn-group">
                                <img class="img" src="/assets/Images/reportes.png" style="margin-left:10%; margin-top:6%">
                                <button (click)="openPatientCIModal('reportes')" type="button" class="btn btn-secondary" style="margin-left: 50%; margin-top: 10%">Reportes</button>
                            </div>    
                          </div>
                      </div>
                  </div>
                </div>
            </div>

        </div>
      </div>
    </div>
